
.no-bottom-margin {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100vh;
}

.center-text {
  text-align: center;
}

.toggle-icon-inactive {
  color: #aaa;
}

.toggle-icon-active {
  color: #108ee9;
}

.ant-form-explain, .ant-form-extra {
  margin-top: 4px !important;
  margin-bottom: 1em;
}